@page "/job/add"
@using MechanicApp.Shared
@using MechanicApp.UI.Services
@using MechanicApp.UI.Components
@inject IJobService JobService
@inject IClientService ClientService
@inject NavigationManager NavigationManager

<h3>Job Creater</h3>

<JobForm Job="Job" OnValidSubmit="AddJobAsync" ButtonText="Add Job" />

@code {
    private Job Job { get; set; } = new();

    private async Task AddJobAsync()
    {

        //Job.Client = await ClientService.GetClientAsync(Job.ClientId);

        //await ClientService.UpdateClientAsync(Job.ClientId, Job.Client);

        await using (var sw = new StreamWriter("logabc.txt"))
        {
            var ci = Job.ClientId;
            var de = Job.Description;
            var np = Job.NumberPlate;
            var yp = Job.YearOfProduction;
            var st = Job.Status;
            var ca = Job.Category;
            var se = Job.Seriousness;
        };
        await JobService.AddJobAsync(Job);
        NavigationManager.NavigateTo("/job/list");
    }
}